   body  {
      font-family: sans-serif;
      margin: 5px;
      background-image: url(https://raw.githubusercontent.com/JEFF-BRIDGES99/JEFF-BRIDGES99.github.io/master/assets/bg-final.png);
      background-repeat: repeat-x;
    }

    div.header img  {
      display:inline;
      width:50px;
    }

    h2.sitetitle  {
      color:#32b520;
      display: inline;
    }

    div.container {
      margin-top:30px;
      float: right;
      width: 85%;
    }

    div.container span.image-container  {
      width: 12.5%;
      margin: 20px;
    }

    div.container span.image-container a img  {
      width: 12%;
    }

    div.navbar nav a {
      text-decoration: none;
      color: #8ee5b5;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 3px;
      padding-bottom: 4px;
    }

    div.navbar nav a:hover {
      color:#37ad27;
      background-color: #4e5b46;
    }


    div.navbar  {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    div.subnav  {
      background-color: #4e5b46;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    div.subnav nav a:hover {
      color:#37ad27;
    }


    div.subnav nav a {
      text-decoration: none;
      color: #8ee5b5;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 3px;
      padding-bottom: 4px;
    }

    div.sidebar {
      float: left;
      width: 15%;
    }

    div.sidebar nav a {
      display: block;
      text-decoration: none;
      padding-top: 2px;
      color:#29c613;
      font-size: 80%;
    }

    div.sidebar h2.tagheader {
      font-size: 100%;
      color:#1b7a0e;
    }

    div.sidebar h2.searchheader {
      font-size: 100%;
      color:#1b7a0e;
    }

    div.sidebar input {
      display:block;
    }
